@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root{
    --primary-color:#6366f1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;


}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
}


body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

.header-content{
    max-width: 1280px;
    background-color: white;
    margin: 0 auto;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
 
.logo{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    gap: 0.625rem;
    color: var(--text-color);
    text-decoration: none;
}

.logo-icon{
   height: 5.874rem;
   width: 1.938rem;
}

nav{
    display: none;
    gap: 2rem;
}

@media screen and (min-width:790px) {
    nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.15rem;
}
.nav-link:hover{
    color: blue;
}
.contact-button{
    display: none;
    border: none;
    border-radius: 0.324rem;
    background-color: var(--primary-color);
    padding: 0.7rem 1.7rem;
    color: var(--background-color);

}
@media screen and (min-width:790px) {
    .contact-button{
        display: block;
    }
}

.contact-button:hover{
    color: #5254f8;
}

.menu-button{
    display: none;
    border: none;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: 2rem 2rem;
}

@media screen and (max-width:790px) {
    .menu-button{
        display: block;
    }
    
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}



/*  nav bar section is end here  */

/*

hero sectiio is start here 
 */

 .main-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    margin: 0 auto;
    align-items: center;
 }

 .content-left{
    text-align: center;
    animation: slideFoemLeft 1s ease forwards;
    opacity: 0;
 }

 @keyframes slideFoemLeft {
    0%{
      opacity: 0;
      transform: translateX(-100%);
    }
    100%{
        opacity: 1;
      transform: translateX(0%);
    }
    
 }

 .section-lable{
    font-size: 1.15rem;
    font-weight: 600;
    padding-top: 0.6rem;
    color: var(--primary-color);
 }

 .section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
 }

 .section-description{
    color: var(--gray);
    font-size: 1.13rem;
   
    margin: 0 auto;
    text-align: center;
 }
 .button-group{
  
   color: black;
   display: flex;
   gap: 2rem;
   padding: 1rem;
   margin-top: 1rem;
   align-items: center;
   justify-content: center;
  
 }
 .start-button,
 .take-button{

        border: none;
        border-radius: 0.324rem;
        background-color: var(--primary-color);
        padding: 0.7rem 1.7rem;
        color: var(--background-color);
 }

 .start-button{
    background-color: var(--primary-color);
 }
 .take-button{
    background-color: var(--dark-gray);
 }



  .start-button:hover {
      background-color: #5254f8;
  }

  .take-button:hover {
      background-color: var(--gray);
  }

  .content-right{
  display: flex;
  align-self: center;
  justify-content: center;
  }

  .image-container{
    border: none;
    border-radius: 0.934rem;
    overflow: hidden;
    height: 48vh;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  .section-image{
    height: 100%;
    width: 100%;
  }

  @media screen and (min-width: 900px) {
    .main-section{
        flex-direction: row;
        align-items: center;
        justify-content: center;  
         
        padding-top:1rem;
    }
    .content-left{
        max-width: 36%;
        text-align: left;
        flex-direction: column;
        justify-content: start;
    }
    .section-lable{
        padding-left: 0px;
    }
    .section-title{
        padding-left: 0px;
        font-size: 3.5rem;
    }
  
    .section-description{
        text-align: left;
    
       
        
    }
    .button-group{
        display: flex;
        justify-content: start;
        padding-left: 0px;

    }
    .image-container{
        height: 65vh;
    }
   

  }


  .company-container{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    animation: slideFoemLeft 1s ease forwards;

  }

  .company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--light-gray);
        border: none;
            border-radius: 0.653rem;

}
  .company-grid img{
    height: 1rem;
 
  }

  .company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.544rem;
  }
  .logo-txt{
    font-size: 1rem;
  }

  @media screen and (min-width:900px) {

    .company-grid{
       grid-template-columns: repeat(4 ,1fr);
    }

    .company-title{
        font-size: 2.7rem;
        font-weight: bold;
    }
    
  }

  .feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0px;
    text-align: center;
  }
  .feature-contant{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .main-info{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  .main-title{
    font-size: 2.2rem;
  }


  .main-description{
    color: var(--gray);
    font-size: 1rem;
  }


  /* grid section style  */

  .feature-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1.3rem;

  }

  .feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    border: none;
    border-radius: 13px;
    gap: 0.5rem;
  }
  .icon-container{
    background-color: var(--background-color);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .feature-svg{
    height: 1.5rem;
    width: 1.5rem;
  }

  .feature-info{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .feature-title{
    font-weight: bold;
    font-size: 1.3rem;
  }

  .feature-card:nth-child(1) {
      background-color: #4a98e2;
  }
  .feature-card:nth-child(2){
    background-color: #ff6289;
  }
.feature-card:nth-child(3) {
       background-color: #fcbf58;
}
 .feature-card:nth-child(4) {
  background-color: #44bfc3;
 }
.feature-card:nth-child(5) {
      background-color: #77b05d;
}
.feature-card:nth-child(6) {
       background-color: #7d78b1;
 }


 @media screen and (max-width:900px){
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
    
 }

 .testimonial-container{
  padding: 2rem;
 }
 .testimonila-contant{
  max-width: 1800px;
  margin: 0 auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
 }
 .testimonial-title{
    font-size: 1.876rem;
    font-weight:bold ;
 }

 .testimonial-grid{
   max-width: 1200px;
  
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
  gap: 2rem;
 }


 @media screen and (max-width:970px) {
.testimonial-grid{
      max-width: 100%;
  }
 }
 .testimonial-card{
   display: flex;
    flex-direction: column;
    border: 1px solid rgb(171, 163, 163);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

 }

 .testimonial-card:hover{
    transform: scale(1.05);;
      box-shadow: 0 4px 8px rbga(0, 0, 0, 0.2);
      border: 1px solid blue;
 }
 .testimonial-avater img{
  height: 4rem;
  width: 4rem;
 }
 .testimonial-text{
  font-size: 0.7rem;
 }
 .testimonial-name{
  color: #2563eb;
  font-weight: bold;
 }


 .newsletter-container{
  background-color: var(--background-color);
  padding: 2rem;
  max-width: 1280px;
  height: 40vh;
  margin: 0 auto;
 }

 .newsletter-content{
  display: flex;
  flex-direction: row;
  background-color: var(--light-gray);
  height: 100%;
  border: nono;
  border-radius: 1rem;
 }

 .news-left{
  height: 100%;
  width: 50%;
  display: none;
 }
 .news-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
  border-radius:  1rem 0rem 0rem 1rem ;
 }

 .news-right{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  align-items: start;
  justify-content: center;
  overflow: hidden;
 
 }

 @media screen and (min-width:700px) {
   .news-left{
    display: block;

   }
  
 }



 .news-title{
  font-size: 2.7rem;
  font-weight: bold;
  color: #2563eb;
  text-align: left;
 }
 .news-desc{
 text-align: left;
 color: var(--gray);
 }

 .news-form{
  
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  text-align: left;
  gap: 1rem;
 }

 @media screen and (max-width:700px) {
  
   .news-title{
    font-size: 1.9rem;
   }
   .news-desc{

    font-size: 0.7rem;
   }

 }
 .news-email {
   background-color: var(--background-color);
   /* width: 100%; */
   color: #333;
   outline: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 0.5rem 0.75rem;
 }

 .news-email:focus {
   border-color: #2563eb;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .news-send-button {
   background-color: var(--primary-color);
   color: var(--background-color);
   border: none;
   border-radius: 0.25rem;
   padding: 0.5rem 1rem;
 
 }

 .news-send-button:hover {
   background-color: var(--link-color);
 }

 .privacy-policy{
   font-size: 0.743rem;
   color: #777;
 }
 .news-link{
  text-decoration: underline;
  color: #2563eb;
 }

 .footer-container{
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0 2rem;
  display: flexe;
  flex-direction: column;
  max-width: 1280px;
  margin-top: 3rem;
  gap: 2rem;
 }

 .footer{
  max-width: 1280px;
  padding: 1rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
 }
.footer-top{
  width: 33%;
  display: flex;
 flex-direction: column;
 gap: 1.4rem;
  padding-left: 1rem;

}

.logo-link{
font-size: 1.2rem;
font-weight: 700;
color: var(--text-color);
display: flex;
justify-content: flex-start;
align-items: center;
gap: 0.8rem;
}
.logo-svg{
  height: 1.8rem;
  width: 1.8rem;

}
.filler-text{
 font-size: 1rem;
 color: var(--dark-gray);
}
.socials{
 display: flex;
 flex-direction: row;
 gap: 1rem;
align-items: center;
}

.footer-grid{
  
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-gap: 6rem;
  padding: 0rem 1rem;
}
.footer-grid-heading{
  font-size: 1.05rem;
  font-weight: bold;
  color: var(--text-color);
}
ul{
  list-style-type: none;
}
.footer-link{
   color: #777;
   font-size: 1rem;

}
.footer-link-list{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.footer-grid-heading{
  padding-bottom: 1.5rem;
}
.footer-copyrighty{
  color: var(--gray);
  font-size: 0.736rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 1.5rem;
  border-top: 1px solid #E5E7EB;
}
@media screen and (max-width:1000px) {
  .footer{
    flex-direction:  column;
   align-items: center;
  }
  .footer-top{
    margin-bottom: 5rem;
  }
  .footer-grid{
    align-self: center;
    justify-content: space-evenly;
  }
}

@media screen and (max-width:855px) {
  .footer-grid{
    grid-template-columns: repeat(2 ,1fr);
  }
}